# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
build/
dist/
.tox/

# Virtualenvs
.venv/
venv/
env/

# Editors
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Pyra dev
*.log
.pyra/
node_modules/

# Local env
.env
.env.local
